/node_modules
/public/hot
/public/storage
/public/uploads
/public/uploads/*
.styleci.yml
.gitattributes
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.buildpath
.editorconfig
.project
.settings/
.env
